@import "../_snowpack/pkg/tailwindcss/dist/base.css";
@import "../_snowpack/pkg/tailwindcss/dist/components.css";
@import "../_snowpack/pkg/tailwindcss/dist/utilities.css";

.container-avo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   }
   .container-avo div {
       width: 200px;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
   }